body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(229, 209, 209, 1);
    }
    
    header {
    background-color: rgba(215, 233, 212, 1);
    color: #333;
    padding: 80px;
    }
   
    .lazer1-img {
        margin-top: 100px;
        width: 500px;
        margin-left: 50px;
    }

    .lazer-img {
        margin-top: -60px;
        float: left;
        width: 150px;
    }
    nav ul {
        float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
    nav li {
    display: inline-block;
    }
    
    nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    }
    
    h1 {
float: right;
margin-top: 100px;
font-size: 50px;
text-indent: -15%;
    }
    @media (max-width: 980px){
      h1 {
        margin-top: 94px;
        font-size: 30px;
        text-indent: 0;
            }
    }

.txt1 p{
    font-size: 30px;
    width: 500px;
    float: right;
    word-wrap: break-word;
   text-align: center ;
margin-top: -250px;
margin-right: 200px;  
}
@media (max-width: 980Px){
  .txt1 p{
    font-size: 30px;
    width: 222px;
    float: right;
    word-wrap: break-word;
    text-align: center;
    margin-top: -310px;
    margin-right: 93px;
}}
   h2 {
    font-size: 50px;
    margin-left: 200PX;
   }
   @media (max-width: 980px){
    h2 {
      font-size: 20px;
      margin-left: 200px;
     }
   }
.txt2 {
    font-size: 30px;
    width: 600px;
    float: left;
    word-wrap: break-word;
   text-align: center ;
margin-top: 0px;
margin-left:50px;  
}
@media (max-width: 980px){
.txt2 {
  font-size: 30px;
  width: 565px;

  margin-top: -3px;
  margin-left: 17px;
}}
   .my-hara{
    float:right;
    width: 450px;
    margin-top: -150px;
    margin-right: 50px;
   }
   @media (max-width: 980px){
   .my-hara {
    float: right;
    width: 346px;
    margin-top: -450px;
    margin-right: 53px;
}}
  h3 {
    margin-left: 650px;
      font-size: 40px;
    margin-top: 600px;
  } @media (max-width: 980px){
  h3 {
    margin-left: 357px;
    font-size: 40px;
    margin-top: 563px;
}}
    .picachy img {
        width: 300px;
        float: left;
        
        margin: 100px 100px 100px 100px;
    }@media (max-width: 980px){
    .picachy img {
      width: 300px;
      float: left;
      margin: 60px 0 100px 100px;
  }}
        .picachy span {
            color: rgb(0, 0, 0);
    position: absolute;
       text-indent: -300px;
    right: 0;
    bottom: -100%;
    font-size: -20%;
    padding: -10px 5px;
    }@media (max-width: 980px){
    .picachy span {
      color: rgb(0, 0, 0);
      position: absolute;
      text-indent: -821px;
      right: 0;
      bottom: 94px;
      font-size: 20px;
      padding: -10px 5px;
  }}
    .picachy1 {
        width: 300px;
        float: right;
        margin-top: 100px;
        margin-right: 100px;
    }@media (max-width: 980px){
    .picachy1 {
      width: 301px;
      float: right;
      margin-top: 54px;
      margin-right: 65px;
  }}
    .picachy2 img {
        width: 300px;
                margin-top: 300px;
                margin-left: 130px;
        color: rgb(0, 0, 0);}
        @media (max-width: 980px){
          .picachy2 img {
          width: 300px;
          margin-top: 130px;
          margin-left: 2px;
          margin-left: -18px;
          color: rgb(0, 0, 0);
      }}
        .picachy2 span{
            color: rgb(0, 0, 0);
    position: absolute;
    text-indent: -100%;
    right: 0;
    bottom: -130%;
    font-size: 100%;
    padding: -10px 5px;
    }
    @media (max-width: 980px){.picachy2 span {
      color: rgb(0, 0, 0);
      position: absolute;
      text-indent: -30%;
      right: 0;
      bottom: -426px;
      font-size: 20px;
      padding: -10px 5px;
  }}
    h4 {
        margin-left: 600px;
      font-size: 40px;
    margin-top: 100px;
    }
    @media (max-width: 980px){
    h4 {
      margin-left: 346px;
      font-size: 40px;
      margin-top: 100px;
  }}
 video {
    width: 70%;
    margin-left: 200px;
 }
 h5 {
    width: 510px;
    margin-left: 530px;
      font-size: 40px;
    margin-top: 100px;
 }
 @media (max-width: 980px){
 h5 {
  width: 517px;
  margin-left: 283px;
  font-size: 40px;
  margin-top: 100px;
}}
 .txt-nomer p {
    width: 430px;
    margin-left: 600px;
      font-size: 40px;
    margin-top: 000px;
 }
 @media (max-width: 980px){
 .txt-nomer p {
  width: 430px;
  margin-left: 344px;
  font-size: 40px;
  margin-top: 0px;
}}
 .txt3 p {
    width: 430px;
    margin-left: 630px;
      font-size: 40px;
    margin-top: 000px;
 }@media (max-width: 980px){
 .txt3 p {
  width: 430px;
  margin-left: 411px;
  font-size: 40px;
  margin-top: 0px;
}}
 .hara-tg {
    width: 400px;
    margin-left: 550px;
    margin-bottom: 100px;
 }@media (max-width: 980px){
 .hara-tg {
  width: 400px;
  margin-left: 316px;
  margin-bottom: 100px;
}}